@import 'antd/dist/reset.css';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



/* Default light theme styles */
body {
    background-color: white;
   
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  /* Dark Mode styles */
  html.dark body {
    background-color: #030711; /* Dark background */
    /* Light text */
  }
  
  /* Optional styles based on dark mode */
  html.dark .button {
    background-color: #2d3748; /* Dark button */
    color: white;
  }

  .divider {
    height: 1px;
    background-color: #05831a; /* Default color */
    margin: 1rem 0; /* Optional spacing */
  }
  /* Override Ant Design Table Row Hover Background */
.ant-table-tbody > tr:hover {
  background-color: #bef264 !important; /* Tailwind's bg-lime-300 */
}
